body {
    display: flex;
    flex-direction: column;
}

.b-header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: black;
    justify-content: space-between;
}

.b-header__logo {
    margin-left: 20px;
    margin-top: 23px;
    margin-bottom: 25px;
}

.topbutton {
    text-decoration: none;
    width: 70px;
    border: none;
    background: #ff8b38;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 70px;
    right: 24px;
    cursor: pointer;
    color: #333;
    font-family: Open Sans;
    font-size: 14px;
    border-radius: 5px;
}

.b-menu-mobile {
    display: inline-block;
    margin-top: 23px;
    margin-right: 20px;
    cursor: pointer;
}

.b-mobile__item,
#go {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 82%;
    background: #000000;
    margin-top: 10px;
    margin-left: -70%;
}

#go:checked ~ .b-mobile__item {
    display: flex;
    flex-direction: column;
}

.b-mobile__link {
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #bdbdbd;
    font-size: 16px;
    text-align: center;
}

.b-mobile__link:hover {
    color: #ff8b38;
}

.b-menu {
    display: none;
}

.b-main {
    background: url(image1.png) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px 0px 0 700px rgba(0, 0, 0, 0.6);
}

.b-content {
    margin-left: 21px;
    margin-right: 21px;
    width: 100%;
}

.b-content__logo {
    margin-top: 60px;
    margin-bottom: 25px;

}

.b-content__img {
    width: 88px;
    height: 30px;
}

.b-content__slogan {
    display: inline-block;
    word-wrap: break-word;
    font-size: 22px;
    width: 290px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 200;
    font-style: normal;
}

.b-content__header {
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 44px;
    font-size: 30px;
    font-family: "Raleway";
    font-weight: 300;
}

.b-content__divider {
    width: 64px;
    size: 2px;
    color: white;
    margin-bottom: 20px;
}

.b-content__description {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    font-family: "Open Sans";
    margin-bottom: 48px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    width: 100%;
}

.b-content__button {
    margin-top: 150px;
    margin-bottom: 34px;
    border: solid #ffffff 2px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
}

.b-content__button:hover {
    border: solid #ffffff 2px;
    background-color: #ffffff;
    color: #ff8b38;
    cursor: pointer;
}

.b-registration {
    display: none;
}

.b-social {
    width: 100%;
    padding: 0px;
    display: flex;
    background-color: #ffffff;
    height: 100px;
    flex-direction: column;
    justify-content: center;
}

.b-social__text {
    width: 100%;
    color: #6e7077;
    font-family: "Open Sans";
    font-size: 16px;
    margin-bottom: -30px;
}

.b-social__title {
    color: #000000;
    font-size: 16px;
    font-family: "Open Sans";
    text-align: center;
    font-weight: 700;
    font-style: normal;
    margin-top: 0px;
}

.b-social__subtitle {
    display: none;
}

.b-social__icon {
    margin-top: 32px;
    text-align: center;
    width: 100%;
}

.b-social__item {
    margin-right: 21px;
    margin-left: 21px;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    color: #ccc;
}

.b-social__item:hover {
    color: #454b56;
}

.b-social__bottom {
    width: 100%;
    size: 2px;
    opacity: 0.2;
    margin: 0;
}

.b-tabs {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #bdbdbd;
}

.b-tabs__all {
    margin-bottom: 20px;
    width: 80%;
    margin-top: 20px;
    margin-left: 21px;
    margin-right: 21px;
}

.b-tabs__item {
    float: left;
    border-right: 1px solid #ffffff;
    border-bottom: none;
    width: 110px;
    height: 65px;
    text-align: center;
    line-height: 5;
    color: #ffffff;
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: bold;
    background-color: #333333;
    margin: 0;
}

.b-tabs__item:hover {
    background-color: #ff8b38;
    border: none;
}

.b-tabs__text {
    margin-right: 21px;
    margin-left: 21px;
}

.b-tabs__title {
    margin-top: 0px;
    font-size: 16px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 32px;
}

.b-tabs__divider {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #ff8b38;
    color: #ff8b38;
    margin-bottom: 35px;
}

.b-tabs__description {
    margin-bottom: 32px;
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    line-height: 1.5;
}

.b-tabs__button {
    margin-top: 22px;
    border: solid #ff8b38 2px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: #ff8b38;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 43px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 40px;
}

.b-tabs__button:hover {
    box-shadow: 0 5px 5px 5px rgba(122, 122, 122, 0.4);
}

.b-tabs__img {
    display: none;
}

.b-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.b-list__img {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 0px;
}

.b-list__town {
    box-shadow: 0 17px 15px 15px rgba(122, 122, 122, 0.1);
    margin: 0;
    background-position: center;
    background-size: cover;
    background-image: url(img/image_left_sub.png);
    width: 100%;
}

.b-list__text {
    margin-left: 21px;
    margin-right: 21px;
    float: left;
    margin-top: 0px;
}

.b-list__header {
    margin-top: 0px;
    font-size: 16px;
    color: #212121;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: left;
    margin-bottom: 32px;
}

.b-list__divider {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #ff8b38;
    color: #ff8b38;
    margin-bottom: 35px;
}

.b-list__description {
    margin-bottom: 31px;
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    line-height: 1.5;
}

.b-round {
    width: 100%;
}

.b-round__img {
    width: 36px;
    height: 36px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 0px;
}

.b-round__up {
    margin-top: 6px;
    margin-left: 6px;
}

.b-round__name {
    display: block;
    float: left;
    margin-left: 51px;
    width: 87%;
}

.b-round__header {
    margin-top: -2px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: bolder;
    letter-spacing: 0.5;
    width: 70%;
}

.b-round__description {
    margin-top: 0;
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    margin-right: 30px;
    margin-left: 0px;
    width: 70%;
}

.b-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #bdbdbd;
}

.b-picture__text {
    margin-top: 20px;
    margin-left: 21px;
    margin-right: 21px;
    width: 90%;
}

.b-picture__header {
    font-size: 16px;
    color: #212121;
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 32px;
}

.b-picture__divider {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #ff8b38;
    color: #ff8b38;
    margin-bottom: 35px;
}

.b-picture__description {
    margin-bottom: 35px;
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    line-height: 1.5;
}

.b-picture__img {
    margin-right: 21px;
    margin-top: 0px;
    margin-left: 21px;
}

.b-picture__town {
    box-shadow: 0 0 15px 10px rgba(122, 122, 122, 0.3);
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-image: url(img/image_right_sub.png);
}

.b-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.b-about__header {
    margin-top: 10px;
    font-size: 22px;
    color: #212121;
    font-family: "Raleway";
    text-align: center;
    font-weight: 400;
    letter-spacing: 2;
    margin-bottom: 30px;
}

.b-about__divider {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #ff8b38;
    color: #ff8b38;
    margin-bottom: 35px;
}

.b-about__description {
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 32px;
    margin-left: 21px;
    margin-right: 21px;
}

.b-about__list {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    margin-right: 21px;
}

.b-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-item__img {
    width: 66px;
    height: 66px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    line-height: 5;
    text-align: center;
    background: none;
}

.b-item__header {
    font-size: 16px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.b-item__description {
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    text-align: center;
}

.b-pricing {
    background-color: #bdbdbd;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

.b-pricing__center {
    margin-left: 21px;
    margin-right: 21px;
}

.b-pricing__header {
    text-align: center;
    margin-bottom: 29px;
    font-size: 22px;
    color: #212121;
    font-family: "Raleway";
    font-weight: 400;
}

.b-pricing__divider {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #ff8b38;
    color: #ff8b38;
    margin-bottom: 32px;
}

.b-pricing__description {
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    margin-bottom: 82px;
    text-align: center;
}

.b-pricing__slot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 21px;
    margin-right: 21px;
}

.b-slot {
    margin-top: 0px;
    width: 70%;
    margin-left: 0px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .2);
}

.b-slot__title {
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    background-color: #333333;
    height: 58px;
    line-height: 2.5;
    border-bottom: 1px solid white;
}

.b-slot__price {
    height: 150px;
    background-color: #333333;
    font-size: 70px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: bold;
    text-align: center;
    padding-top: 28px;
    border-bottom: 3px solid #ff8b38;
    padding-bottom: 20px;
    font-kerning: normal;
}

.b-slot__popular {
    height: 38px;
    background-color: #ff8b38;
    font-size: 14px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
}

.b-slot__description {
    font-family: "Open Sans";
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    color: #808080;
}

.b-slot__item {
    margin: 0;
    font-size: 12px;
    line-height: 3;
    height: 40px;
    color: #6e7077;
    font-family: "Open Sans";
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #bdbdbd;
}

.b-popular {
    margin-top: 0;
}

.b-reviews {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.b-reviews__header {
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    color: #212121;
    font-weight: 400;
    font-family: "Raleway";
    margin-bottom: 32px;
    margin-left: 21px;
    margin-right: 21px;
    width: 270px;
}

.b-reviews__divider {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #ff8b38;
    color: #ff8b38;
    margin-bottom: 32px;
}

.b-reviews__description {
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    margin-bottom: 60px;
    text-align: center;
    margin-left: 21px;
    margin-right: 21px;
}

.b-reviews__all {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 41px;
    margin-right: 41px;
}

.b-reviews__item:last-child {
    display: none;
}

.b-reviews__item {
    margin-bottom: 50px;
    padding-left: 20%;
}

.b-reviews__text {
    position: relative;
    width: 60%;
    height: 50%;
    padding: 0px;
    background: #bdbdbd;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Open Sans";
    padding-top: 27px;
    padding-left: 13px;
    padding-right: 14px;
    font-style: italic;
    letter-spacing: 2;
    color: #6e7077;
}

.b-reviews__text:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 21px 18px 0;
    border-color: #bdbdbd transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -21px;
    left: 27px;
}

.b-reviews__photo {
    margin-top: 26px;
    width: 80%;
}

.b-reviews__img {
    display: block;
    float: left;
    margin-right: 18px;
    margin-left: 10px;
}

.b-reviews__person {
    display: block;
    float: left;
    margin-right: 18px;
}

.b-reviews__name {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: bolder;
    letter-spacing: 0.5;
}

.b-reviews__position {
    margin-top: 0;
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
}

.b-reviews__item:last-child {
    display: none;
}

.b-custom {
    width: 100%;
    height: 320px;
    background: url(u25_state_0.png) no-repeat;
    background-size: cover;
    text-align: center;
    box-shadow: inset 0px 0px 0 320px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-custom__header {
    padding-top: 0px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
    font-family: "Raleway";
    margin-bottom: 32px;
}

.b-custom__divider {
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    color: #ffffff;
    margin-bottom: 36px;
}

.b-custom__description {
    font-size: 16px;
    color: #bdbdbd;
    font-family: "Raleway";
    font-weight: 300;
    text-align: center;
    margin-bottom: 39px;
    margin-left: 21px;
    margin-right: 21px;
}

.b-custom__button {
    margin-bottom: 65px;
    border: solid white 2px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    width: 85%;
    height: 43px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    margin-left: 21px;
    font-size: 14px;
    margin-right: 21px;
}

.b-custom__button:hover {
    border: solid #ff8b38 2px;
    background-color: #ffffff;
    color: #ff8b38;
}

.b-contact {
    width: 100%;
    height: 612px;
    background-color: #ffffff;
}

.b-contact__header {
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    color: #212121;
    font-family: "Raleway";
    margin-bottom: 32px;
}

.b-contact__divider {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #ff8b38;
    color: #ff8b38;
    margin-bottom: 32px;
}

.b-contact__description {
    font-size: 14px;
    color: #6e7077;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
    margin-bottom: 83px;
}

.b-contact__name {
    grid-column: 1/2;
    grid-row: 1/2;
}

.b-contact__email {
    grid-column: 1/2;
    grid-row: 2/3;
}

.b-contact__subject {
    grid-column: 1/2;
    grid-row: 3/4;
}

.b-contact__full-height {
    grid-column: 1/2;
    grid-row: 4/5;
}

.b-contact__empty {
    grid-column: 1/2;
    grid-row: 6/7;
}

.b-contact__full-width {
    grid-column: 1/2;
    grid-row: 6/7;
}

.b-contact__form {
    margin-right: 21px;
    margin-left: 21px;
    display: grid;
    grid-template-columns: 100%;
    font-size: 14px;
    color: #bdbdbd;
    font-family: "Open Sans";
    grid-auto-rows: 30px;
    grid-gap: 68px;

}

.b-contact__input {
    border: none;
    width: 80%;
    outline: transparent;
}

.b-one {
    border-bottom: 1px solid #bdbdbd;
    border-right: none;
    border-top: none;
    border-left: none;
    padding: 0;
    margin: 0;
}

.b-contact__textarea {
    overflow: auto;
    margin-top: -70px;
    outline: transparent;
    width: 100%;

}

.b-contact__button {
    margin-top: 68px;
    border: solid #ff8b38 2px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: #ff8b38;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 44px;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
}

.b-contact__button:hover {
    box-shadow: 0 5px 5px 5px rgba(122, 122, 122, 0.4);
}

.b-footer {
    margin-top: 255px;
    height: 81px;
    background-color: #000000;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    font-family: "Open Sans";
    padding-bottom: 15px;
    padding-top: 20px;
}

.b-footer__item {
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    color: #ccc;
}

.b-footer__item:hover {
    color: #ffffff;
}

@media screen and (min-width: 768px) {

    .b-header__logo {
        margin-left: 41px;
    }

    .b-menu-mobile {
        display: none;
    }

    .b-menu {
        display: inline-block;
        margin-right: 41px;
        margin-top: 27px;
        margin-bottom: 32px;
    }

    .b-menu__link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        margin-left: 51px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    .b-menu__link:hover {
        color: #ff8b38;
        cursor: pointer;
    }

    .b-main {
        height: 638px;
    }

    .b-content {
        margin-left: 41px;
        width: 508px;
    }

    .b-content__logo {
        margin-top: 106px;
        margin-bottom: 32px;
    }

    .b-content__img {
        width: 117px;
        height: 40px;
    }

    .b-content__slogan {
        font-size: 32px;
        width: 590px;
        margin-top: -30px;
    }

    .b-content__description {
        width: 470px;
        font-size: 14px;
    }

    .b-content__button {
        margin-top: 50px;
        width: 161px;
        height: 44px;
    }

    .b-social {
        flex-direction: row;
        justify-content: space-between;
    }

    .b-social__text {
        margin-top: 20px;
        margin-left: 41px;
        width: 176px;
        height: 27px;
        margin-top: 40px;
    }

    .b-social__title {
        font-size: 20px;
        line-height: normal;
    }

    .b-social__item {
        font-size: 36px;
        margin-right: 41px;
    }

    .b-tabs {
        flex-direction: row;
        justify-content: space-around;
    }

    .b-tabs__all {
        margin-top: 50px;
        margin-left: 0px;
        width: 10%;
        margin-right: 0px;
    }

    .b-tabs__item {
        width: 80px;
        height: 80px;
        border-bottom: 1px solid #ffffff;
        border-right: none;
        font-size: 14px;
        line-height: 6;
    }

    .b-tabs__text {
        width: 60%;
        margin-right: 110px;
        margin-left: 0px;
    }

    .b-tabs__title {
        margin-top: 50px;
        font-size: 20px;
    }

    .b-tabs__divider {
        margin-bottom: 20px;
    }

    .b-tabs__description {
        margin-bottom: 0px;
    }

    .b-tabs__button {
        width: 145px;
        height: 44px;
    }

    .b-list {
        flex-direction: column;
    }

    .b-list__text {
        margin-left: 41px;
        margin-right: 0px;
    }

    .b-list__header {
        font-size: 20px;
    }

    .b-list__description {
        width: 592px;
    }

    .b-round__header {
        font-size: 14px;
    }

    .b-round__description {
        width: 70%;
    }

    .b-round__name {
        width: 40%;
        margin-right: 0px;
        margin-left: 21px;
    }

    .b-list__town {
        width: 50%;
        margin-left: 161px;
        margin-bottom: 50px;
    }

    .b-picture {
        flex-direction: row;
        justify-content: space-between;
    }

    .b-picture__text {
        margin-left: 41px;
        width: 543px;
    }

    .b-picture__header {
        font-size: 20px;
    }

    .b-picture__town {
        margin-top: 50px;
        height: 70%;
    }

    .b-about__header {
        font-size: 32px;
    }

    .b-item__description {
        width: 80%;
    }

    .b-pricing__header {
        font-size: 32px;
    }

    .b-pricing__slot {
        justify-content: space-between;
        flex-direction: row;
        margin-left: 41px;
        margin-right: 41px;
    }

    .b-slot {
        width: 30%;
    }

    .b-slot__title {
        font-size: 20px;
    }

    .b-reviews__header {
        font-size: 32px;
        width: 100%;
        margin-top: 60px;
    }

    .b-reviews__all {
        justify-content: space-between;
        flex-direction: row;
    }

    .b-reviews__item {
        padding-left: 10%;
    }

    .b-reviews__text {
        width: 80%;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .b-custom__header {
        font-size: 32px;
    }

    .b-custom__description {
        width: 563px;
        margin-left: 101px;
        margin-right: 41px;
    }

    .b-contact__header {
        font-size: 32px;
    }

    .b-contact__textarea {
        overflow: auto;
        width: 100%;
    }

    .b-footer {
        margin-top: 255px;
    }

    .b-footer__item {
        font-size: 36px;
    }
}

@media screen and (min-width: 1280px) {

    .b-header__logo {
        margin-left: 151px;
    }

    .b-menu {
        margin-right: 151px;
    }

    .b-content {
        margin-left: 151px;
    }

    .b-content__img {
        width: 176px;
        height: 60px;
    }

    .b-content__slogan {
        font-size: 36px;
        width: 540px;
    }

    .b-content__divider {
        margin-bottom: 40px;
    }

    .b-content__description {
        font-size: 16px;
    }

    .b-content__button {
        -webkit-transition: width 800ms, height 800ms, background-color 800ms, -webkit-transform 800ms;
        transition: width 800ms, height 800ms, background-color 800ms, transform 800ms;
    }

    .b-content__button:hover {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .b-registration {
        display: inline-block;
        height: 363px;
        width: 360px;
        margin-right: 151px;
        margin-top: 141px;
    }

    .b-registration__header {
        height: 55px;
        background-color: #bdbdbd;
        color: #333333;
        font-size: 20px;
        font-family: "Open Sans";
        font-weight: bold;
        text-align: center;
        line-height: 2.5;
        margin-bottom: 0;
    }

    .b-registration__free {
        color: #ff8b38;
        cursor: pointer;
    }

    .b-registration__form {
        padding-right: 40px;
        padding-left: 40px;
        background-color: #ffffff;
    }

    .b-registration__container {
        border-bottom: 1px solid #bdbdbd;
        border-right: none;
        border-top: none;
        border-left: none;
        height: 66px;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #bdbdbd;
        font-family: "Open Sans";
        cursor: text;
    }

    .b-registration__container:last-child {
        border: none;
        margin-top: 54px;
        margin-bottom: -10px;
        padding: 0;
    }

    .b-registration__button {
        height: 66px;
        width: 360px;
        background-color: #ff8b38;
        margin-left: -40px;
        margin-right: 0;
        border: none;
        font-size: 15px;
        color: #ffffff;
        font-family: "Open Sans";
        font-weight: bold;
    }

    .b-registration__button:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .b-registration__input {
        border: none;
        margin-top: 40px;
        width: 70%;
    }

    .b-social__text {
        margin-left: 151px;
        height: 67px;
        margin-top: 20px;
    }

    .b-social__title {
        margin-bottom: 5px;
        margin-top: -10px;
        margin-left: -58px;
    }

    .b-social__subtitle {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 23px;
        font-size: 14px;
        width: 380px;
    }

    .b-social__icon {
        text-align: right;
    }

    .b-social__item {
        font-size: 48px;
    }

    .b-tabs__all {
        margin-left: 151px;
        margin-top: 110px;
        margin-bottom: 90px;
    }

    .b-tabs__item {
        width: 110px;
        height: 110px;
        font-size: 15px;
        -webkit-transition: width 800ms, height 800ms, background-color 800ms, -webkit-transform 800ms;
        transition: width 800ms, height 800ms, background-color 800ms, transform 800ms;
    }

    .b-tabs__item:hover {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .b-tabs__img {
        display: inline-block;
        margin-right: 141px;
        margin-top: 147px;
    }

    .b-tabs__text {
        margin-left: 90px;
        margin-top: 70px;
    }

    .b-tabs__button {
        -webkit-transition: width 800ms, height 800ms, background-color 800ms, -webkit-transform 800ms;
        transition: width 800ms, height 800ms, background-color 800ms, transform 800ms;
    }

    .b-tabs__button:hover {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .b-list {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .b-round__name {
        width: 35%;
    }

    .b-round__img {
        margin-left: 0px;
    }

    .b-list__town {
        width: 453px;
        height: 303px;
        margin-left: 0px;
    }

    .b-list__text {
        margin-top: -20px;
        margin-right: 151px;
    }

    .b-list__img {
        margin-left: 151px;
    }

    .b-list__description {
        width: 438px;
    }

    .b-picture__text {
        margin-left: 151px;
        margin-top: 110px;
        margin-bottom: 90px;
    }

    .b-picture__img {
        margin-right: 151px;
    }

    .b-picture__town {
        width: 453px;
        height: 303px;
        margin-top: 110px;
    }

    .b-about__header {
        font-size: 36px;
    }

    .b-about__list {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 0px;
    }

    .b-item {
        margin-left: 51px;
        margin-right: 51px;
    }

    .b-item__header {
        font-size: 20px;
    }

    .b-item__description {
        width: 300px;
    }

    .b-pricing__header {
        font-size: 36px;
    }

    .b-pricing__slot {
        margin-left: 151px;
        margin-right: 151px;
    }

    .b-slot {
        width: 300px;
        -webkit-transition: width 800ms, height 800ms, background-color 800ms, -webkit-transform 800ms;
        transition: width 800ms, height 800ms, background-color 800ms, transform 800ms;
    }

    .b-slot:hover {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .b-slot__item {
        font-size: 14px;
    }

    .b-reviews__all {
        margin-left: 151px;
        margin-right: 151px;
    }

    .b-reviews__header {
        font-size: 36px;
    }

    .b-reviews__item:last-child {
        display: inline-block;
    }

    .b-custom__header {
        font-size: 36px;
    }

    .b-custom__description {
        width: 100%;
        margin-left: 0px;
    }

    .b-custom__button {
        width: 161px;
        -webkit-transition: width 800ms, height 800ms, background-color 800ms, -webkit-transform 800ms;
        transition: width 800ms, height 800ms, background-color 800ms, transform 800ms;
    }

    .b-custom__button:hover {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .b-contact__full-height {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 2px;
    }

    .b-contact__empty {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .b-contact__full-width {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .b-contact__form {
        grid-template-columns: 40% 40%;
        margin-left: 151px;
        grid-gap: 100px;
    }

    .b-one {
        border-right: 1px solid #bdbdbd;
    }

    .b-contact__textarea {
        overflow: auto;
        margin-top: -65px;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #bdbdbd;
    }

    .b-contact__button {
        width: 144px;
        height: 44px;
        -webkit-transition: width 800ms, height 800ms, background-color 800ms, -webkit-transform 800ms;
        transition: width 800ms, height 800ms, background-color 800ms, transform 800ms;
    }

    .b-contact__button:hover {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .b-footer__item {
        font-size: 48px;
    }
}
